@font-face {
    font-family: 'Neue Kabel Book';
    src: url('NeueKabel-BookItalic.eot');
    src: url('NeueKabel-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('NeueKabel-BookItalic.woff2') format('woff2'),
        url('NeueKabel-BookItalic.woff') format('woff'),
        url('NeueKabel-BookItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Kabel';
    src: url('NeueKabel-Bold.eot');
    src: url('NeueKabel-Bold.eot?#iefix') format('embedded-opentype'),
        url('NeueKabel-Bold.woff2') format('woff2'),
        url('NeueKabel-Bold.woff') format('woff'),
        url('NeueKabel-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Kabel';
    src: url('NeueKabel-BoldItalic.eot');
    src: url('NeueKabel-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('NeueKabel-BoldItalic.woff2') format('woff2'),
        url('NeueKabel-BoldItalic.woff') format('woff'),
        url('NeueKabel-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Kabel';
    src: url('NeueKabel-Black.eot');
    src: url('NeueKabel-Black.eot?#iefix') format('embedded-opentype'),
        url('NeueKabel-Black.woff2') format('woff2'),
        url('NeueKabel-Black.woff') format('woff'),
        url('NeueKabel-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Kabel';
    src: url('NeueKabel-BlackItalic.eot');
    src: url('NeueKabel-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('NeueKabel-BlackItalic.woff2') format('woff2'),
        url('NeueKabel-BlackItalic.woff') format('woff'),
        url('NeueKabel-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Kabel Book';
    src: url('NeueKabel-Book.eot');
    src: url('NeueKabel-Book.eot?#iefix') format('embedded-opentype'),
        url('NeueKabel-Book.woff2') format('woff2'),
        url('NeueKabel-Book.woff') format('woff'),
        url('NeueKabel-Book.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Kabel';
    src: url('NeueKabel-ExtraBold.eot');
    src: url('NeueKabel-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('NeueKabel-ExtraBold.woff2') format('woff2'),
        url('NeueKabel-ExtraBold.woff') format('woff'),
        url('NeueKabel-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Kabel';
    src: url('NeueKabel-ExtraLight.eot');
    src: url('NeueKabel-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('NeueKabel-ExtraLight.woff2') format('woff2'),
        url('NeueKabel-ExtraLight.woff') format('woff'),
        url('NeueKabel-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Kabel';
    src: url('NeueKabel-ExtraBoldItalic.eot');
    src: url('NeueKabel-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('NeueKabel-ExtraBoldItalic.woff2') format('woff2'),
        url('NeueKabel-ExtraBoldItalic.woff') format('woff'),
        url('NeueKabel-ExtraBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Kabel';
    src: url('NeueKabel-Light.eot');
    src: url('NeueKabel-Light.eot?#iefix') format('embedded-opentype'),
        url('NeueKabel-Light.woff2') format('woff2'),
        url('NeueKabel-Light.woff') format('woff'),
        url('NeueKabel-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Kabel';
    src: url('NeueKabel-Italic.eot');
    src: url('NeueKabel-Italic.eot?#iefix') format('embedded-opentype'),
        url('NeueKabel-Italic.woff2') format('woff2'),
        url('NeueKabel-Italic.woff') format('woff'),
        url('NeueKabel-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Kabel';
    src: url('NeueKabel-LightItalic.eot');
    src: url('NeueKabel-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('NeueKabel-LightItalic.woff2') format('woff2'),
        url('NeueKabel-LightItalic.woff') format('woff'),
        url('NeueKabel-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Kabel';
    src: url('NeueKabel-ExtraLightItalic.eot');
    src: url('NeueKabel-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('NeueKabel-ExtraLightItalic.woff2') format('woff2'),
        url('NeueKabel-ExtraLightItalic.woff') format('woff'),
        url('NeueKabel-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Kabel';
    src: url('NeueKabel-Medium.eot');
    src: url('NeueKabel-Medium.eot?#iefix') format('embedded-opentype'),
        url('NeueKabel-Medium.woff2') format('woff2'),
        url('NeueKabel-Medium.woff') format('woff'),
        url('NeueKabel-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Kabel';
    src: url('NeueKabel-Thin.eot');
    src: url('NeueKabel-Thin.eot?#iefix') format('embedded-opentype'),
        url('NeueKabel-Thin.woff2') format('woff2'),
        url('NeueKabel-Thin.woff') format('woff'),
        url('NeueKabel-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Kabel';
    src: url('NeueKabel-MediumItalic.eot');
    src: url('NeueKabel-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('NeueKabel-MediumItalic.woff2') format('woff2'),
        url('NeueKabel-MediumItalic.woff') format('woff'),
        url('NeueKabel-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Kabel';
    src: url('NeueKabel-ThinItalic.eot');
    src: url('NeueKabel-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('NeueKabel-ThinItalic.woff2') format('woff2'),
        url('NeueKabel-ThinItalic.woff') format('woff'),
        url('NeueKabel-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Kabel';
    src: url('NeueKabel-Regular.eot');
    src: url('NeueKabel-Regular.eot?#iefix') format('embedded-opentype'),
        url('NeueKabel-Regular.woff2') format('woff2'),
        url('NeueKabel-Regular.woff') format('woff'),
        url('NeueKabel-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

