html {
  color: #333;
  font-size: 1rem;
  line-height: 1.5;
}

body {
  font-family: "Poppins";
  background: #faf7f2;
  position: relative;
  overflow-x: hidden;
  max-width: 100vw;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: #000;
}

::-webkit-scrollbar-thumb:hover {
  background: #000;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-track:hover {
  background: #fff;
}

.text-2xl {
  line-height: 1.5 !important;
}

.lessgap-po5 svg {
  max-width: 100%;
  height: auto;
}
.lessgap-po5 .font-title {
  font-family: "Francois One", sans-serif;
}
.lessgap-po5 .container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media screen and (min-width: 768px) {
  .lessgap-po5 .container {
    min-width: 704px;
  }
}
@media screen and (min-width: 992px) {
  .lessgap-po5 .container {
    min-width: 928px;
  }
}
@media screen and (min-width: 1200px) {
  .lessgap-po5 .container {
    min-width: 1136px;
  }
}
@media screen and (min-width: 1464px) {
  .lessgap-po5 .container {
    min-width: 1400px;
  }
}
.lessgap-po5 .row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem;
}
.lessgap-po5 .col {
  padding-left: 1rem;
  padding-right: 1rem;
}
.lessgap-po5 .btn {
  background: linear-gradient(90deg, #84BD00 0%, #04A7E9 100%);
  border-radius: 32px;
  padding: 10px;
  display: block;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.lessgap-po5 .product_packages .product-package-name,
.lessgap-po5 .product_packages .product-package-price {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}
.lessgap-po5 .product_packages .product-package-description {
  font-size: 14px;
  color: #666666;
}
@media screen and (min-width: 768px) {
  .lessgap-po5 .product_packages .product-package-name,
.lessgap-po5 .product_packages .product-package-price {
    font-size: 32px;
    line-height: 36px;
  }
  .lessgap-po5 .product_packages .product-package-description {
    font-size: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .lessgap-po5 .product_packages .product-package-name,
.lessgap-po5 .product_packages .product-package-price {
    font-size: 40px;
    line-height: 48px;
  }
  .lessgap-po5 .product_packages .product-package-description {
    font-size: 20px;
    line-height: 32px;
  }
}
.lessgap-po5 .product_packages .box::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s all ease-in-out;
  border-radius: 20px;
}
@media screen and (min-width: 768px) {
  .lessgap-po5 .product_packages .box::before {
    border-radius: 24px;
  }
}
@media screen and (min-width: 1024px) {
  .lessgap-po5 .product_packages .box::before {
    border-radius: 36px;
  }
}
@media screen and (min-width: 1280px) {
  .lessgap-po5 .product_packages .box::before {
    border-radius: 50px;
  }
  .lessgap-po5 .product_packages .product-package-name {
    transition: 0.3s all ease-in-out;
  }
  .lessgap-po5 .product_packages .box:hover .product-package-name {
    color: #52BE3E;
  }
}
.lessgap-po5 .animation--bounce-in:before {
  animation-name: bounceZoomIn;
  animation-duration: 0.6s;
  animation-fill-mode: both;
}
.lessgap-po5 .animation--bounce-out:before {
  animation-name: bounceZoomOut;
  animation-duration: 0.6s;
  animation-fill-mode: both;
}
@keyframes bounceZoomIn {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    transform: translate(-50%, -50%) scale3d(1, 1, 1);
  }
  33% {
    transform: translate(-50%, -50%) scale3d(1.17, 1.17, 1.17);
  }
  66% {
    transform: translate(-50%, -50%) scale3d(1.1, 1.1, 1.1);
  }
  to {
    transform: translate(-50%, -50%) scale3d(1.2, 1.2, 1.2);
  }
}
@keyframes bounceZoomOut {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    transform: translate(-50%, -50%) scale3d(1.2, 1.2, 1.2);
  }
  33% {
    transform: translate(-50%, -50%) scale3d(1.1, 1.1, 1.1);
  }
  66% {
    transform: translate(-50%, -50%) scale3d(1.17, 1.17, 1.17);
  }
  to {
    transform: translate(-50%, -50%) scale3d(1, 1, 1);
  }
}
.lessgap-po5 #menu-footer {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}
.lessgap-po5 #navigation-main {
  transition: 0.3s all ease-in-out;
  transform: translateX(100%);
}
.lessgap-po5 #navigation-main.open {
  transform: translateX(0);
}
.lessgap-po5 #navigation-main a {
  font-size: 18px;
}
@media screen and (min-width: 768px) {
  .lessgap-po5 #navigation-main a {
    font-size: 26px;
  }
}

.swiper-button::after {
  display: none !important;
}

.swiper-pagination-bullet {
  background: #C8C6C2;
  opacity: 1;
  width: 8px;
  height: 8px;
  margin: 0 6px;
}

.swiper-pagination-bullet-active {
  background: #FFFFFF;
  transform: scale(1.5);
}

.package_includes #product-nav img {
  border: 1px solid #f1f1f1;
  border-radius: 16px;
}
.package_includes #product-nav .swiper::before {
  content: "";
  display: block;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 0;
  top: 140px;
}
.package_includes #product-nav .swiper a.active {
  position: relative;
  font-weight: 700;
}
@media screen and (min-width: 1024px) {
  .package_includes #product-nav .swiper a.active::before {
    content: "";
    display: block;
    width: 100%;
    border-bottom: 2px solid black;
    margin-top: -1px;
    position: absolute;
    left: 0;
    top: 140px;
  }
}
.package_includes .tab {
  overflow: hidden;
  transition: height 0.3s ease;
  height: 0;
}
.package_includes .tab.active {
  height: max-content;
}

.product {
  background: #fff;
  line-height: 1.2;
  text-transform: uppercase;
}
.product .product-name {
  font-weight: 700;
  font-size: 20px;
  color: #231F20;
  transition: 0.2s all ease-in-out;
}
@media screen and (min-width: 768px) {
  .product .product-name {
    font-size: 24px;
  }
}
.product .product-price {
  font-weight: 700;
  font-size: 18px;
  color: #666666;
}
@media screen and (min-width: 768px) {
  .product .product-price {
    font-size: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .product .product-price {
    font-size: 35px;
  }
}
.product:hover .product-name {
  color: #52BE3E;
}

.btn-handleToggle {
  background: #e5e7eb;
  transition: 0.2s all ease-in-out;
}
.btn-handleToggle .node {
  transform: translateX(28px);
  transition: 0.2s all ease-in-out;
}
.btn-handleToggle.active {
  background: linear-gradient(90deg, #84BD00 0%, #04A7E9 100%);
}
.btn-handleToggle.active .node {
  transform: translateX(0);
}