/* @import "ant-design-vue/dist/reset.css"; */

@import "tailwind/_base.css";
@import "tailwind/_components.css";
@import "tailwind/_utilities.css";

@import "_checkbox-radio-switch.css";
@import "_progress.css";
@import "_scrollbars.css";
@import "_table.css";
@import "made.css";

:root{
  --h-input: 42px;
}

.ant-drawer .ant-card .ant-card-body{
  padding: 10px !important;
}

.ant-btn-primary {
  color: #fff;
  background-color: #1677ff;
  box-shadow: 0 2px 0 rgba(5, 145, 255, 0.1);
}

.ant-input-number-input:focus,
.ant-select-selection-search-input:focus {
  border: 0 !important;
  box-shadow: 0 !important;
  outline: 0 !important;
  --tw-ring-color: transparent !important;
}

.ant-btn.ant-btn-lg {
  font-size: 14px !important;
}

.ant-form .ant-form-item .ant-form-item-label>label {
  height: auto !important;
}

/* .ant-input-number,
.ant-input-number .ant-input-number-input,
.ant-select-single .ant-select-selector .ant-select-selection-item, .ant-select-single .ant-select-selector .ant-select-selection-placeholder,
.ant-select-single:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-search-input,
.ant-select-single:not(.ant-select-customize-input) .ant-select-selector,
.ant-picker{
  height: var(--h-input) !important;
  line-height: var(--h-input) !important;
} */

.ant-picker-dropdown .ant-picker-content th,
.ant-picker-dropdown .ant-picker-content td {
  text-align: center;
}

.ant-divider-horizontal.ant-divider-with-text {
  margin: .5rem 0;
  font-weight: 700;
  text-transform: uppercase;
}

#table-list td{
  font-size: 13px;
}

#table-list .ant-input {
  background: transparent;
  border: unset;
  padding: 0 !important;
  font-size: 13px;
  box-shadow: unset !important;
}

#table-list [type='text'],
#table-list [type='email'],
#table-list [type='url'],
#table-list [type='password'],
#table-list [type='number'],
#table-list [type='date'],
#table-list [type='datetime-local'],
#table-list [type='month'],
#table-list [type='search'],
#table-list [type='tel'],
#table-list [type='time'],
#table-list [type='week'],
#table-list [multiple],
#table-list textarea,
#table-list select {
  font-size: 13px;
}

.ant-input:focus, .ant-input-focused{
  border-inline-end-width: 0 !important;
}

/* Form Eligibility check */

.uni-main-container .ant-select .ant-select-selector {
  padding: 0 !important;
  height: 30px !important;
  border: unset !important;
  line-height: 30px !important;
  font-size: inherit !important;
  font-weight: 700 !important;
  border-radius: 0 !important;
  box-shadow: unset !important;
}

.uni-main-container .ant-picker{
  height: 34px !important;
  line-height: 34px !important;
}
.uni-main-container .ant-select-single .ant-select-selector .ant-select-selection-item,
.uni-main-container .ant-select-single .ant-select-selector .ant-select-selection-placeholder {
  height: 30px !important;
  line-height: 30px !important;
}

.uni-main-container .ant-select .ant-select-selector:focus {
  border: unset !important;
  box-shadow: unset !important;
}

.uni-main-container .ant-select:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-search-input {
  border: unset !important;
  box-shadow: unset !important;
  height: 30px !important;
}

.uni-main-container .ant-select-single .ant-select-selector .ant-select-selection-search {
  inset-inline-start: 0;
  inset-inline-end: 0;
}

.uni-main-container .ant-select .ant-select-selection-item,
.uni-main-container .ant-select-single .ant-select-selector .ant-select-selection-search-input {
  padding: 0 !important;
  height: 30px !important;
  border: unset !important;
  line-height: 30px !important;
  font-size: inherit !important;
  font-weight: 700 !important;
  border-radius: 0 !important;
}

.uni-main-container .ant-select-single:not(.ant-select-customize-input) .ant-select-selector:after {
  line-height: 24px;
}

.uni-main-container .ant-picker,
.uni-main-container .ant-picker:hover,
.uni-main-container .ant-picker-focused {
  box-shadow: none !important;
  border-radius: 0 !important;
  border: 0 !important;
  border-bottom: 2px solid #d1d5db !important;
}

.uni-main-container .ant-select-single .ant-select-selector:after,
.uni-main-container .ant-select-single .ant-select-selector .ant-select-selection-item:after,
.uni-main-container .ant-select-single .ant-select-selector .ant-select-selection-placeholder:after {
  display: none !important;
}

.uni-main-container .ant-picker .ant-picker-input>input {
  font-size: inherit !important;
  text-transform: inherit !important;
  font-weight: inherit !important;
  line-height: 26px !important;
}

.uni-main-container .ant-input:hover,
.uni-main-container .ant-input:focus,
.uni-main-container .ant-input-focused {
  border-inline-end-width: 0 !important;
}

.uni-main-container .ant-input{
  border-radius: 0 !important;
  padding: 4px 0 !important;
  border: 0 !important;
  border-bottom: 2px solid #d1d5db !important;
}

.uni-main-container textarea.ant-input{
  border: 2px solid #d1d5db !important;
}