@import "ant-design-vue/dist/reset.css";

@import "tailwind/_base.css";
@import "tailwind/_components.css";
@import "tailwind/_utilities.css";

@import "_checkbox-radio-switch.css";
@import "_progress.css";
@import "_scrollbars.css";
@import "_table.css";
@import "made.css";

.ant-btn-primary {
  color: #fff;
  background-color: #1677ff;
  box-shadow: 0 2px 0 rgba(5, 145, 255, 0.1);
}

.ant-input-number-input:focus,.ant-select-selection-search-input:focus {
  border: 0 !important;
  box-shadow: 0 !important;
  outline: 0 !important;
  --tw-ring-color: transparent !important;
}

.ant-btn.ant-btn-lg{
  font-size: 14px !important;
}

.ant-form .ant-form-item .ant-form-item-label>label{
  height: auto !important;
}

.ant-picker-dropdown .ant-picker-content th, .ant-picker-dropdown .ant-picker-content td{
  text-align: center;
}

.ant-divider-horizontal.ant-divider-with-text{
  margin: .5rem 0;
  font-weight: 700;
  text-transform: uppercase;
}